{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Storytelling Inclusivo{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'Core/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_detection"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"></script>

    {% block extra_head %}{% endblock %}
</head>
<body>

    <header class="main-header">
        <h1 class="logo">Storytelling Inclusivo</h1>

        <video id="camera" autoplay playsinline></video>
        
        <div id="camera-status">
            <div id="camera-msg"></div>
            <div id="face-msg"></div>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="main-footer">
        <p>Proyecto de interacción accesible con reconocimiento facial y voz</p>
    </footer>

    <script src="{% static 'Core/js/views.js' %}"></script>
    <script src="{% static 'Core/js/manager.js' %}"></script>
    <script src="{% static 'Core/js/websocket.js' %}"></script>
    <script src="{% static 'Core/js/RostroGestos.js' %}"></script>
    <script src="{% static 'Core/js/menu.js' %}"></script>
    <script src="{% static 'Core/js/Stories.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>