{% extends "Core/base.html" %}

{% block title %}Inicio | Storytelling{% endblock %}

{% block content %}

{% load static %}
<body>
<!-- Menu Inicio -->
<div id="view-home" class="view active">  
    <h1>Bienvenido</h1> 
    <div id="menu-container">

        <div class="menu-item active" data-action="menustory">
            Historias
        </div>

        <div class="menu-item" data-action="ManageGestures">
            Sensibilidad de Gestos
        </div>

    </div>
</div>

<!-- Menu Histrias -->
<div id="view-menustory" class="view">
    <h1>Historias</h1> 
    <div id="menu-container">

        <div class="menu-item active" data-action="new_story">
            Historia Aleatoria
        </div>

        <div class="menu-item" data-action="record_story">
            Lista de Historias
        </div>

        <div class="menu-item" data-action="home">
            Volver
        </div>

    </div>
</div>

<!-- Menu Sensibilidad de Gestos -->
<div id="view-ManageGestures" class="view">
    <h1>Sensibilidad de Gestos</h1> 
    <div id="menu-container">

        <div class="menu-item active" data-action="BlinkSensitivity">
            Parpadeo de Confirmación
        </div>

        <div class="menu-item" data-action="VerticalSensitivity">
            Inclinación Vertical
        </div>

        <div class="menu-item" data-action="HorizontalSensitivity">
            Inclinación Horizontal
        </div>

        <div class="menu-item" data-action="home">
            Volver
        </div>

    </div>
</div>

<!-- Selector Sensibilidad de Gestos -->
<div id="view-SensitivitySelector" class="view">
    <h1 id="sensitivity-title">Selector de Sensibilidad</h1> 
    <div id="menu-container">

        <div id="option-high" class="menu-item active" data-action="HighSensitivity">
            Sencibilidad Alta
        </div>

        <div id="option-medium" class="menu-item" data-action="MediumSensitivity">
            Sencibilidad Media
        </div>

        <div id="option-low" class="menu-item" data-action="LowSensitivity">
            Sencibilidad Baja
        </div>

        <div class="menu-item" data-action="ManageGestures">
            Volver
        </div>

    </div>
</div>

<!-- Interfaz de las historias -->
<div id="view-story" class="view">
    <div class="story-wrapper">

        <div class="story-top">
            <div class ="scene-title-content">
            <h2 id="scene-title">Titulo Historia</h2>
            </div>
            <div id="option-up" class="gesture-option" data-action="pause">Pausar</div>
        </div>

        <div class="story-middle">
            <div id="option-left" class="gesture-option" data-action="left">Opción izq</div>

            <div id="scene-content">
                <p id="scene-text">Contenido</p>
            </div>

            <div id="option-right" class="gesture-option" data-action="right">Opción der</div>
        </div>

        <div class="story-bottom">
            <div id="option-down" class="gesture-option" data-action="return">Volver</div>
        </div>

    </div>
</div>

<div id="view-StoriesList" class="view">
    <h1>Lista de Historias</h1> 
    <div id="menu-container">

        <div id="option-one" class="menu-item active" data-action="story_1">
            Primera Historia
        </div>

        <div id="option-two" class="menu-item" data-action="story_2">
            Segunda Historia
        </div>

        <div id="option-three" class="menu-item" data-action="story_3">
            Tercera Historia
        </div>

        <div id="option-four" class="menu-item" data-action="story_4">
            Cuarta Historia
        </div>

        <div class="menu-item" data-action="menustory">
            Volver
        </div>

    </div>
</div>

</body>
{% endblock %}

{% block extra_js %}
{% endblock %}